 .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 6%;
  background: white;
}

.logo {
  width: 140px;
}

/* MENU */
.navbar-menu {
  display: flex;
  list-style: none;
  gap: 30px;
  color: #49557e;
  font-size: 18px;
}

.navbar-menu li {
  cursor: pointer;
}

/* RIGHT SIDE */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

/* ICONS */
.nav-icon {
  width: 24px;
  cursor: pointer;
}

.navbar-search-icon {
  position: relative;
  cursor: pointer;
}

.navbar-search-icon img {
  width: 24px;
}

 .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background: tomato;
  border-radius: 50%;
  top: -6px;
  right: -6px;
}

 .navbar-login-btn {
  background: transparent;
  border: 1px solid tomato;
  color: tomato;
  padding: 8px 20px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar-login-btn:hover {
  background: tomato;
  color: white;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.navbar li{
    cursor: pointer;
}
